.pull-right.search
  = form_tag root_path, method: 'get' do
    = text_field_tag :search, params[:search], placeholder: "#{t('search')}", class: 'search__input'
    = button_tag nil, name: nil, class: 'search__button' do
