nav#header
  .container
    header.header
      ul.header_menu
        - Category.find_each do |category|
          - if category.books.any?
            li.header_menu__item= link_to category.title.capitalize, category

      ul.header_menu.pull-right
        - if current_user
            li.header_menu__item= link_to t('.add_book'), new_book_path
            li.header_menu__item.disabled= link_to "#{t('.hi')}, #{current_user.name}", ''
            li.header_menu__item= link_to t('.logout'), '/signout'

        - else
            li.header_menu__item.disabled
              a.with-tooltip data-toggle='tooltip' data-placement='bottom' title='Авторизуйтесь через Twitter или Github'= t('.add_book')
            li.header_menu__item= link_to t('nav.login_github'), '/auth/github'
            li.header_menu__item= link_to t('nav.login_twitter'), '/auth/twitter'

        li.header_menu__item.dropdown
          a.dropdown-toggle data-toggle='dropdown' href="#" #{t('.lang')}
            <span class="caret"></span>
          ul.dropdown-menu role="menu"
            li= link_to t('.en'), change_locale_path(:en)
            li= link_to t('.ru'), change_locale_path(:ru)

      hr
      .container
        .header__bottom
          h1.logo= link_to 'All The Books', root_path
          = render 'shared/search_bar'
