.col-sm-3
  .book
    .book__link= link_to category_book_path(book.category, book.slug) do
      .book__img= icon('book', class: 'fa-5x')
      h4.book__title= truncate book.title, length: 40
      .book__description
        .about.pull-left= truncate(book.author, length: 80)
        .about.pull-left= truncate(book.publisher, length: 80)
        .year.pull-right.text-right= book.year
