- if current_user && @book.comments.where(user_id: current_user.id).blank?
  h3 #{t('.add_comment')}:

  = form_for( [@book, @book.comments.build], url: category_book_comments_path(@book.category, @book.slug)) do |f|
    p= f.text_area :body
    p= f.submit value: t('.create'), class:'btn btn-primary'
- else
  h4.bg-danger.text-danger #{t('.warning')}
