- unless current_user
  p
    strong.text-success.bg-success #{t('.to_comment')}

- sort_comments_by(lang).each do |comment|
    p
      strong= comment.user.try(:name)
      ' :
      = comment.body
