.container.with-tooltip data-toggle='tooltip' data-placement='top' title='#{t('tags.add_tooltip')}'
  .tags.text-center
    - tag_cloud(@tags, %w(menu_button)) do |tag, css_class|
      - if request.original_url.include? tag.name and request.original_url.include? "/tags"
        = link_to(tag.name, remove_tag_from_url(tag) , :class => "menu__button checked_menu__button")
      - else
        = link_to(tag.name, add_tag_to_url(tag) , :class => "menu__button")
