h3.text-center= t('.add_book')

.col-sm-8.col-sm-offset-2
  = simple_form_for [@category, @book] do |f|
    = f.input :title, label: t('.title')
    = f.input :author, label: t('.author')
    = f.input :year, label: t('.year')
    = f.input :link, label: t('.link')
    = f.input :description, label: t('.description')
    = f.input :language, label: t('.lang')

    .text-center= f.button :submit, t('.create')
