.book__show
  h3= @book.title
  .col-sm-8
    small= icon('eye', @book.views)
    p
      strong=> "#{t('.author')}:"
      = @book.author
    p
      strong=> "#{t('.publisher')}:"
      = "#{@book.publisher}, #{@book.year}"
    p
      strong=> "#{t('.buy')}:"
      = link_to truncate(@book.link, length: 50), @book.link
    p
      strong=> "#{t('.description')}:"
      = @book.description
    p
      strong=> "#{t('.lang')}:"
      = @book.language

  .col-sm-4.cover
    .text-center= icon('book', class: 'fa-5x')

  .col-sm-12
    h4= t('related_books')
    - @related_book.each do |book|
      = link_to book.title, category_book_path(book.category, book.slug)

  .col-sm-12
    div role="tabpanel"
      ul.nav.nav-tabs role="tablist"
        li.active role="presentation"
          a href="#russian" aria-controls="russian" role="tab" data-toggle="tab" #{t('.ru_comment')}
        li role="presentation"
          a href="#english" aria-controls="english" role="tab" data-toggle="tab" #{t('.en_comment')}

      .tab-content
        #russian.tab-pane.active role="tabpanel"
          = render partial: 'books/comments_tab', locals: {lang: "ru"}
          - if current_user
            = render 'books/comments'
        #english.tab-pane role="tabpanel"
          = render partial: 'books/comments_tab', locals: {lang: "en"}
          - if current_user
            = render 'books/comments'
