// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .book {
//   border: 1px solid black;
//   padding: 10px;
//   min-height: 250px;
//   margin: 10px 0;

//   .author {
//     display: inline-block;
//   }
// }
