@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic);
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #f4f4f4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {resize: vertical;}

a {
  -webkit-transition: all ease-out 0.2s;
  -o-transition:      all ease-out 0.2s;
  transition:         all ease-out 0.2s;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper{
  position: relative;
  width: 1200px; height: 100%;
  margin: 0 auto;
}

.header {
  margin: 5px 0 20px;
  background-color: #fff;
}

#header {
  background-color: #fff;
}

.header__bottom {
  text-align: center;
  position: relative;
  padding: 26px 0 27px;
  background: #fff;
}
.header_menu {
  // border-bottom: 1px solid #ececec;
  padding: 12px 0 10px; margin: 0;
  background: #fff;
  display: inline-block;
}
    .header_menu__item {
      float: left;
      list-style: none;
    }
        .header_menu__item > a {
          padding: 10px 10px 10px 9px;
          text-decoration: none;
          font-size: 13px;
          color: #757575;
          line-height: 15px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .header_menu__item > a:hover {
          color: #f36c4f;
        }
h1 {
  display: inline-block;
}

.logo {
  position: relative;
  float: left;
  height: 64px;
  margin: 0;
  padding: 0 0 0 70px;
  font-size: 50px;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: bold;

  a {
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}
    .logo:before {
      content: '';
      position: absolute;
      top: 0;
      margin-top: -5px;
      left: 0;
      width: 64px;
      height: 64px;
      background-image: url('logo.png'); /*fallback для браузеров без SVG*/
      background-image: url('logo.svg');
      background-size: contain;
    }
.search {
  margin-top: 10px;
  margin-right: 20px;
}
    .search__input {
      width: 200px; height: 44px;
      display: inline-block;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      -moz-box-sizing:    border-box;
      box-sizing:         border-box;
      -webkit-transition: width ease-out 0.2s;
      -o-transition:      width ease-out 0.2s;
      transition:         width ease-out 0.2s;
    }
        .search__input:focus {
          width: 250px;
        }
    .search__button {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 44px; height: 44px;
      padding: 0;
      text-align: center;
      background: #eee;
      border: 1px solid #eee;
      margin-left: 4px;
    }
        .search__button:before {
          content: '';
          background-image: url('search.png');
          background-image: url('search.svg');
          background-size: contain;
          position: absolute;
          top: 13px; left: 12px;
          width: 19px; height: 20px;

        }
        .search__button:hover {
          background-color: #f36c4f;
        }


    .menu__button {
      position: relative;
      display: inline-block;
      margin: 5px;
      z-index: 1;
      font-size: 14px;
      line-height: 16px;
      color: #6f6f6f;
      background: #fff;
      padding: 19px 10px 20px 10px;
      text-decoration: none;
      text-align: center;
      box-shadow:         2px 2px 0 rgba(0,0,0,.08);
      -moz-box-shadow:    2px 2px 0 rgba(0,0,0,.08);
      -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,.08);
    }
    .menu__item:first-child .menu__button {
      margin: 0;
    }
    .menu__button:hover {
      color: #fff;
      background-color: #3b3d3f;
    }

    .checked_menu__button {
      color: #fff;
      background-color: #3b3d3f;
    }
    .checked_menu__button:hover {
      color: #fff;
      background: #A8A8A8;
    }

.tags {
  margin: 20px 0;
}

.section {
  position: relative;
  margin: 0 0 29px;
}
    .section__title {
      position: relative;
      font-size: 18px;
      line-height: 19px;
      color: #525252;
      padding-bottom: 22px;
      border-bottom: 1px solid #d7d7d7;
      margin: 0 0 27px;
    }

.books {
  margin-top: 20px;
}

.book {
  padding: 0 15px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  min-height: 280px;

  h4 {
    a {
      color: #000!important;
    }
  }

  .about {
    width: 70%;
  }

  .year {
    width: 30%;
  }
}


    .book__link {
      display: block;
      padding: 0 0px 15px;
      color: #525252;
      cursor: pointer;
      font-weight: 700;
      text-decoration: none;
    }
        .book:first-child .book__link {
          margin: 0;
        }

    .book__title {
      margin: 12px 0;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
    }

        .book__link:hover .book__title {
          color: #f36c4f;
        }
    .book__img {
      position: relative;
      display: block;
      height: 136px;
      overflow: hidden;
      text-align: center;

      i {
        margin-top: 30px;
        color: gray;
      }
    }
        .book__img img {
          width: 100%;
        }
        .book__img:before {
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          content: 'Подробнее';
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          text-align: center;
          padding: 56px 0 0;
          opacity: 0;
          -webkit-transition: all ease-out 0.2s;
          -o-transition:      all ease-out 0.2s;
          transition:         all ease-out 0.2s;
        }
            .book__link:hover .book__img:before {
              opacity: 1;
            }
    .book__description {
      padding: 0 10px 0;
      margin: 0;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: normal;
      line-height: 16px;
      text-decoration: none;
    }


.footer {
  width: 100%; height: 150px;
  padding: 27px 0 0;
  background: #fff;
}

.footer_container {
  display: table;
  width: 100%;
}
.footer_col {
  display: table-cell;
  width: 25%;
}

.footer_links {

}
    .footer_links__item {
      list-style: none;
    }
        .footer_links__title {
          font-weight: 700;
        }
        .footer_links__link {
          text-decoration: none;
          font-size: 13px;
          color: #757575;
          line-height: 15px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .footer_links__link:hover {
          color: #f36c4f;
        }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden  {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden  {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus  {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/*.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}*/
.clearfix:after{
  visibility: hidden
}
.clearfix:after{
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0
}
.clearfix{display: inline-block}
* html .clearfix{height: 1%}
.clearfix{display: block}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
