- if params[:search].present?
  h3.text-center= t('.search-results')
  - @books.each do |book|
    = render 'books/book', book: book
- else
  - Category.find_each do |category|
    h3.text-center= category.title.capitalize
    .top-books
      - category.books.limit(4).reorder(views: :desc).each do |book|
        = render 'books/book', book: book
