<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Allthebooks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='description' content=''>
  <link rel='apple-touch-icon' href='apple-touch-icon.png'>
</head>
<body>
<%= render 'shared/top_header' %>

<div class='container'>
  <%= render partial: 'shared/flash_messages', flash: flash %>
  <%= yield %>
</div>

</body>
</html>
